.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
p,
h1,
h3 {
  font-family: "Fig Tree", sans-serif;
}

p {
  font-size: 16px;
}

body {
  background-color: hsl(47, 88%, 63%);
  display: flex;
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
  flex-direction: column;
  height: 100vh; /* vieport height - to make it in center of the screen actually */
}

.container {
  max-width: 1440px;
}
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 16px 16px 40px;
  width: 320px;
  box-shadow: 10px 7px 0px rgb(0, 0, 0); /* Text is here */
}

.illustration {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.learningButton {
  background-color: hsl(47, 88%, 63%);
  border-radius: 6px;
  border: none;
  height: 25px;
  font-weight: bold;
}

.learningButton:hover {
  background-color: #000000; /* Green */
  color: white;
}

.link {
  text-decoration: none;
  color: hsl(0, 0%, 7%);
  font-family: "Fig Tree", sans-serif;
  font-weight: 800;
  font-size: 23px;
}

a.link:hover {
  color: hsl(47, 88%, 63%);
}

.maintext {
  color: hsl(0, 0%, 42%);
  line-height: 1.5;
}
.textimg {
  display: flex;
}

.imgGreg {
  scale: 50%;
}
